@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap&subset=cyrillic");

@mixin montserrat ($size: 24px, $weight: 500, $color: white) {
    font-family: "Montserrat", sans-serif;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

.white {
    color: white;
}

.black {
    color: black;
}

.font {
  &-px14 {
    font-size: 14px;
  }
  &-px20 {
    font-size: 20px;
  }
  &-px22 {
    font-size: 22px;
  }
  &-px24 {
    font-size: 24px;
  }
  &-px44 {
    font-size: 44px;
  }
  &-px80 {
    font-size: 80px;
  }
  &-px300 {
    font-size: 300px;
  }
  &-montserrat {
    &-bold {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      color: white;
    }
    &-normal {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: white;
    }
    &-light {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
    }
  }
}
