@import 'fonts';

@mixin btn-base {
    padding: 10px;
    background: rgba(76, 82, 85, 0.4);
    border: 1px solid rgba(228, 227, 227, 0.2);
    border-radius: 5px;

    &:hover {
        background: rgba(174, 181, 185, 0.5);
        cursor: pointer;
    }
}

@mixin list-base {
    appearance: none;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgba(228, 227, 227, 0.2);
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }

    option {
        background-color: #000;
    }
}

$bg-color: #11112e;

h1 {
    display: none;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: $bg-color;
}

.background {
    position: fixed;
    color: white;
    width: 100%;
    height: 100%;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        background-color: #131313;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        z-index: -3;
    }
}

.wrapper {
    position: relative;
    z-index: 0;

    justify-content: space-evenly;
    padding: 20px 0px;
    display: grid;
    grid-template-areas:
        "controls controls controls"
        "weather weather location"
        "forecast forecast forecast";
}

.controls {
    padding: 10px 0;
    display: grid;
    justify-content: space-between;
    grid-area: controls;
    grid-auto-flow: column;
    align-items: center;

    &-buttons {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;

        .refresh {
            @include btn-base();
        }

        .language-select {
            select {
                appearance: none;
                @include list-base();
            }
        }

        .units {
            select {
                appearance: none;
                @include list-base();
            }
        }
    }

    &-search {
        display: flex;

        &__input {
            border: 1px solid rgba(228, 227, 227, 0.2);
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 200px;
        }

        &__button {
            @include btn-base();
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            width: 100px;
        }

        &__mic {
            @include btn-base();
            margin-right: 10px;
        }
    }
}

.weather {
    grid-area: weather;

    &-dateinfo {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;

        .location {
            grid-column: span 2;
        }
    }

    &-description {
        display: grid;
        grid-template: repeat(6, 1fr) / 2fr 1fr;

        .now {
            grid-row: span 6;
            position: relative;
            font-style: normal;
            font-weight: bold;
            font-size: 306px;
            line-height: 373px;

            span {
                position: relative;
                z-index: 3;
            }

            &-icon {
                position: absolute;
                top: 0;
                left: 77%;
                width: 150px;
            }
        }

        .sub-description {
            grid-row: 4 / span 4;
            grid-column: 2;
        }
    }
}

.forecast {
    display: grid;
    justify-content: space-evenly;
    grid-area: forecast;
    grid-auto-flow: column;
}

.weather-tile {
    position: relative;
    display: grid;
    grid-template: 1fr auto / 1fr 1fr;

    &__day {
        @include montserrat(22px);
        grid-column: span 2;
    }

    &__average-temp {
        @include montserrat(80px);
    }

    &__icon {
        img {
            width: 60px;
        }
    }
}

.geolocation {
    grid-area: location;

    &-info {
        text-align: right;
    }
}

.map {
    width: 320px;
    height: 350px;
}